 <ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content>
  <div class="img-tellevo">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>
  <p class="txt-olvidaste">OLVIDASTE TU CONTRASEÑA?</p>
  <div class="ipts-login">
    <ion-list class="lbl-user">
      <ion-item>
        <ion-input labelPlacement="stacked">
          <div slot="label" class="txt-design">Usuario</div>
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
  
  <ion-button class="btn-login" expand="block" color="warning">ENVIAR FORMULARIO</ion-button>
</ion-content>

<ion-footer class="footer"></ion-footer>