 <ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>

  <ion-button filL="clear" style="float:left;" routerLink="/login">
    <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <div class="img-tellevo">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>
  <p class="txt-olvidaste">OLVIDASTE TU CONTRASEÑA?</p>
  <div class="ipts-login">
    <ion-list class="lbl-user">
      <ion-item>
        <ion-input labelPlacement="stacked">
          <div slot="label" class="txt-design">Usuario</div>
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-input labelPlacement="stacked" type="password">
        <div slot="label" class="txt-design">Nueva Contraseña</div>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input labelPlacement="stacked" type="password">
        <div slot="label" class="txt-design">Repetir Nueva Contraseña</div>
      </ion-input>
    </ion-item>
  </div>
  <div class="containerbtn">
    <button #btn (click)="applyBounce()" >ENVIAR FORMULARIO</button>
  </div>
</ion-content>

<ion-footer class="footer"></ion-footer>