 <ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>

  <ion-button filL="clear" style="float:left;" routerLink="/login">
    <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-header>



<ion-content fullscreen="true">
  <div class="img-tellevo">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>
  <p class="txt-olvidaste">OLVIDASTE TU CONTRASEÑA?</p>
  <form [formGroup]="forma" (ngSubmit)="nuevaPass">
    <div class="ipts-login">
      <ion-input class="ipts-form"
      label="Usuario" 
      labelPlacement="floating"  
      formControlName="usuario"
      [(ngModel)]="user"
    ></ion-input>

    <ion-input class="ipts-form"
      label="Nueva Contraseña"
      labelPlacement="floating" 
      type="password"
      formControlName="password1"
    ></ion-input>

    <ion-input class="ipts-form"
      label="Repite la Contraseña"
      labelPlacement="floating" 
      type="password"
      formControlName="password2"
    ></ion-input>
    </div>
    <div class="containerbtn">
      <button #btn (click)="nuevaPass()" >ENVIAR FORMULARIO</button>
    </div>
  </form>
</ion-content>



<ion-footer class="footer"></ion-footer>