h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
}
.lbl-user {
    margin-top: 60px;
}

.btn-login {
    width: 300px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 50px;
    font-size: 20px;
}
  
.ipts-login {
    margin: 20px;
}

.logo-duoc {
    width: 300px;
    margin: 0 auto;
    margin-top: 25px;
    margin-right: 29px;
  }

.header {
    background-color: #062e55;
   }

.span-title {
    color: #ffb800;
}

.ipts-login {
    margin: 20px;
}

.txt-olvidaste {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

.img-tellevo {
    margin-top: 80px;
}

button {
    width: 300px;
    transform: scale(1);
    padding: 18px;
    background-color: #ffc409;
    border: none;
    border-radius: 13px;
    color: black;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;
  }
  
  .bounce {
    animation: bounce .25s ease-in-out;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(1.05);
    }
  
    100% {
      transform: scale(1);
    }
  }

.containerbtn{

    display: flex;
    align-items: center;
    justify-content: center;

}