<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>

  <ion-button filL="clear" style="float:left;" routerLink="/duenno">
    <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form-reg-veh" [formGroup]="form" (ngSubmit)="registerVehiculo()">

    <ion-item class="inputform">
      <ion-input label="Patente" labelPlacement="floating" formControlName="patente"></ion-input>
    </ion-item>
    
    <ion-item class="inputform">
      <ion-input label="Marca" labelPlacement="floating" formControlName="marca"></ion-input>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Modelo" labelPlacement="floating" formControlName="modelo"></ion-input>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Capacidad" labelPlacement="floating" formControlName="capacidad" type="number"></ion-input>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Nombre de Usuario" labelPlacement="floating" formControlName="nombre_usuario" [(ngModel)]="nombre_usuario" readonly="{{isDisabled}}"></ion-input>
    </ion-item>

    <ion-button id="present-alert" color="warning" class="btnreg" (click)="registerVehiculo()">
      REGISTRAR
    </ion-button>
    <ion-alert
    trigger="present-alert"
    header="Vehículo Registrado con Éxito! :)"
    [buttons]="alertButtons"
    ></ion-alert>
  </form>
</ion-content>

<ion-footer class="footer"></ion-footer>
