<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content>
  <h1>Te<span class="span-title">Llevo</span>APP</h1>


  <h2>Bienvenido!</h2>

  <div class="ipts-login">
    <ion-list class="lbl-user">
      <ion-item>
        <ion-input labelPlacement="stacked">
          <div slot="label" class="txt-design">Usuario</div>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="lbl-pass">
      <ion-item>
        <ion-input labelPlacement="stacked" type="Password">
          <div slot="label" class="txt-design">Password</div>
        </ion-input>
      </ion-item>
    </ion-list>
  </div>

  <ion-button class="btn-login" expand="block" color="warning" routerLink='/home'>INGRESAR</ion-button>
  
  <p class="txt-rest">
    <a [routerLink]="['/restablecer']">OLVIDASTE TU CONTRASEÑA?</a>
  </p>

</ion-content>

<ion-footer class="footer"></ion-footer>