<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="registerViaje()">
    
    <ion-item class="inputform">
      <ion-label>Sede</ion-label>
      <ion-select label="Sede" formControlName="sede" labelPlacement="floating" interface="popover">
        <ion-select-option *ngFor="let s of sedes" [value]="s.nombre_sede">{{ s.nombre_sede }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Dirección de Inicio" labelPlacement="floating" formControlName="inicio"></ion-input>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Dirección de Término" labelPlacement="floating" formControlName="termino"></ion-input>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Costo por Persona" labelPlacement="floating" formControlName="costo"></ion-input>
    </ion-item>
    
    <ion-item class="inputform">
      <ion-select label="Patente" formControlName="patente" labelPlacement="floating" interface="popover" (ionChange)="actualizarCapacidad()">
        <ion-select-option *ngFor="let v of vehiculos" [value]="v.patente">{{ v.patente }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item class="inputform">
      <ion-input label="Capacidad" labelPlacement="floating" formControlName="capacidad" [value]="form.get('patente')?.value ? obtenerCapacidad() : ''" readonly="{{isDisabled}}"></ion-input>
    </ion-item>

    <ion-item class="inputform">
      <ion-input label="Nombre de Usuario" labelPlacement="floating" formControlName="nombre_usuario_dueño" [(ngModel)]="user" readonly="{{isDisabled}}"></ion-input>
    </ion-item>


    <ion-button class="btnreg" color="warning" (click)="registerViaje()">
      REGISTRAR
    </ion-button>
  </form>
</ion-content>

<ion-footer class="footer"></ion-footer>