<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>

<ion-content [fullscreen]="true">

  <div class="divdueno">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>

  <ion-button class="btndueno" color="warning" (click)="irARegistroCarro()">
    <ion-icon class="icon" name="car-sport-outline"></ion-icon>
    REGISTRAR VEHÍCULO
  </ion-button>

  <ion-button class="btndueno" color="warning" (click)="irAViaje()">
    <ion-icon class="icon" name="arrow-forward-outline"></ion-icon>
    INICIAR VIAJE
  </ion-button>

</ion-content>
 
<ion-footer class="footer">
  <ion-button id="alerta-cerrar" class="btncerrar" color="danger" (click)="irALogin()">CERRAR SESIÓN</ion-button>
  <ion-alert
    trigger="alerta-cerrar"
    header="Sesión Cerrada con Éxito :)"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-footer>