<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content>


  <div class="img-tellevo">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>

  <h1 class="txt-bienvenida">¡Bienvenid@ {{user}}!</h1>

 <ng-container *ngIf="viaje && viaje.length > 0 ; else campoVacio">
    <ion-card *ngFor="let i of viaje">
      <ion-card-header *ngIf="i.nombre_usuario_cliente === ''">
        <ion-card-title>
          {{i.patente}}
        </ion-card-title>
        <ion-card-subtitle>
          {{i.inicio}} hasta {{i.termino}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-button *ngIf="i.nombre_usuario_cliente === ''" style="float:right;" (click)="tomarViaje(i)">
        Tomar Viaje
      </ion-button>
    </ion-card>
  </ng-container>

  <ng-template #campoVacio>
    <ion-text class="ion-text-center">
      No hay viajes disponibles
    </ion-text>
  </ng-template>

  
</ion-content>

<ion-footer class="footer ion-text-center">
</ion-footer>
