<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content>


  <div class="img-tellevo">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>

  <h1 class="txt-bienvenida">¡Bienvenid@ {{user}}!</h1>


  <ion-card>
    <img  src="assets/img/auto.jpg" />
    <ion-card-header>
      <ion-card-title>Hacia Renca</ion-card-title>
      <ion-card-subtitle>Elias Esveile</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tengo espacio para 3 personas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src="assets/img/kfai.jpg" />
    <ion-card-header>
      <ion-card-title>Hacia San Miguel</ion-card-title>
      <ion-card-subtitle>Joaquin Rodriguez</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tengo espacio para 3 personas
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img  src="assets/img/alo2.avif" />
    <ion-card-header>
      <ion-card-title>Hacia Pedro Aguirre Cerda</ion-card-title>
      <ion-card-subtitle>Pedro Muñoz</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tengo espacio para 3 personas
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer">

<ion-button id="present-alert" expand="block" routerLink='/admin' class="alo" >Vista de Administrador</ion-button>
<ion-alert
  trigger="present-alert"
  header="¡ALERTA!"
  subHeader="Acceso Denegado"
  message="PERMISOS INSUFICIENTES"
  [buttons]="alertButtons"
></ion-alert>

</ion-footer>
