h1 {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.alo{
    width: 100%;
    height: 15px;
}

.container-viaje {
    display: flex;
    align-items: center;
    justify-content: center;
}