<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content>


  <div class="img-tellevo">
    <img src="assets/img/TELLEVOAPP2.jpg" alt="">
  </div>

  <h1 class="txt-bienvenida">¡Bienvenid@ {{user}}!</h1>

  <ion-item>
    <ion-label>Sede</ion-label>
    <ion-select [(ngModel)]="sede" label="Sede" labelPlacement="floating " interface="popover" (ionChange)="event($event)" >
      <ion-select-option value="todos">Todos los viajes</ion-select-option>
      <ion-select-option *ngFor="let s of sedes"  >{{ s.nombre_sede }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngIf="viaje && viaje.length > 0 ; else campoVacio">
    <ion-card *ngFor="let i of viaje">
      <ion-card-header *ngIf="i.nombre_usuario_cliente === ''">
        <ion-card-title>
          {{i.patente}}
        </ion-card-title>
        <ion-card-subtitle>
          {{i.inicio}} hasta {{i.termino}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-button *ngIf="i.nombre_usuario_cliente === ''" style="float:right;" (click)="verViaje(i)">
        Ver Viaje
      </ion-button>
    </ion-card>
  </ng-container>
  
  <ng-template #campoVacio>
    <div class="divcenter">
      <ion-text class="txt-nodisp">
        No hay viajes disponibles...
      </ion-text>
    </div>
  </ng-template>
</ion-content>

<ion-footer class="footer ion-text-center">
</ion-footer>
