<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ viaje.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Inicio: {{ viaje.inicio }}</p>
      <p>Termino: {{ viaje.termino }}</p>
      <p>Patente: {{ viaje.patente }}</p>
      <p>Nombre Dueño: {{ viaje.nombre_usuario_duenno }}</p>
      <p>Costo: {{ viaje.costo }}</p>
      <p>Capacidad: {{ viaje.capacidad_disponible }}</p>
    </ion-card-content>
    <ion-button (click)="tomarViaje(viaje.id_viaje)" style="float:right">
      Tomar Viaje
    </ion-button>
  </ion-card>
</ion-content>

<ion-footer class="footer"></ion-footer>
