<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="registerViaje()">
    <ion-input label="Dirección de Inicio" labelPlacement="floating" formControlName="inicio"></ion-input>
    <ion-input label="Dirección de Termino" labelPlacement="floating" formControlName="termino"></ion-input>
    <ion-input label="Costo por Persona" labelPlacement="floating" formControlName="costo"></ion-input>
    <ion-input label="Patente" labelPlacement="floating" formControlName="patente"></ion-input>
    <ion-input label="Nombre de Usuario" labelPlacement="floating" formControlName="nombre_usuario_dueño" [(ngModel)]="nombre_usuario" readonly="{{isDisabled}}"></ion-input>
    <ion-button (click)="registerViaje()">
      Registrar
    </ion-button>
  </form>
</ion-content>

<ion-footer class="footer"></ion-footer>
