<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>

  <ion-button filL="clear" style="float:left;" routerLink="/home">
    <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
  </ion-button>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ viaje.nombre }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Inicio: {{ viaje.inicio }}</p>
      <p>Termino: {{ viaje.termino }}</p>
      <p>Patente: {{ viaje.patente }}</p>
      <p>Nombre Dueño: {{ viaje.nombre_usuario_duenno }}</p>
      <p>Costo: {{ viaje.costo }}</p>
      <p>Capacidad: {{ viaje.capacidad_disponible }}</p>
    </ion-card-content>
    <ion-button class="btn" color="warning" id="alerta" (click)="tomarViaje(viaje.id_viaje)" style="float:right" routerLink="/home">
      TOMAR VIAJE
    </ion-button>
    <ion-alert
    trigger="alerta"
    header="Viaje Tomado con Éxito! :)"
    [buttons]="alertButtons"
    ></ion-alert>
  </ion-card>
</ion-content>

<ion-footer class="footer"></ion-footer>
