<ion-header class="header">
  <div class="logo-duoc">
    <img src="assets/img/logoduocazul.png" alt="">
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class="btn" color="warning" routerLink="/register-car">REGISTRAR VEHÍCULO</ion-button>
  <ion-button class="btn" color="warning" routerLink="/viaje">INICIAR VIAJE</ion-button>
  <ion-button class="btn" color="warning" routerLink="/login">CERRAR SESIÓN</ion-button>
  
</ion-content>
 
<ion-footer class="footer"></ion-footer>


